<template>
  <div class="components__buttonLikeCity">
    <v-btn
      icon
      :color="isLiked ? 'primary' : 'info darken-4'"
      :loading="loading"
      class="components__buttonLikeCity top:.5 left:0"
      absolute
      @click="onClick"
    >
      <v-icon>mdi-star</v-icon>
    </v-btn>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "nuxt-property-decorator";

@Component
export default class ButtonLikeCity extends Vue {
  @Prop({ type: String, required: true }) cityId!: string;
  @Prop({ type: Boolean, required: false, default: false }) liked?: boolean;

  loading: boolean = false;

  get likedCities() {
    return this.$store.state.userLikes.likedCities as Array<any>;
  }

  get isLiked() {
    const liked = this.likedCities.find((city: any) => city._id == this.cityId);
    return liked;
  }

  onClick() {
    if (this.isLiked) this.removeLikedCity();
    else this.addLikeCity();
  }

  async addLikeCity() {
    try {
      this.loading = true;
      await this.$api.citysun.userLikes.update({ city_to_add: this.cityId });
      this.$toasted.success(
        this.$t("message.addedToYourFavorites" as string) as string
      );
      this.getUserLikes();
    } catch (error) {
      this.$helper.handleRequestError(error);
    } finally {
      this.loading = false;
    }
  }

  async removeLikedCity() {
    try {
      this.loading = true;
      await this.$api.citysun.userLikes.update({ city_to_delete: this.cityId });
      this.$toasted.success(
        this.$t("message.removedFromYourFavorites") as string
      );
      this.getUserLikes();
    } catch (error) {
      this.$helper.handleRequestError(error);
    } finally {
      this.loading = false;
    }
  }

  async getUserLikes() {
    try {
      const {
        data: { liked_cities }
      } = await this.$api.citysun.userLikes.getAll();

      this.$store.commit("userLikes/setLikedCities", liked_cities);
    } catch (error) {
      this.$toasted.error("Something went wrong.");
    }
  }
}
</script>
