<template>
  <div class="component__cardForecast ">
    <v-row class="ma-0 overflow-x-auto minimal-scroller">
      <v-col cols="4" v-for="(item, index) in items" :key="index">
        <p class="text-caption mb-0">{{ getDay(index) }}</p>
        <p class="text-h6 mb-0">{{ item.main && item.main.temp }}&deg;</p>
      </v-col>
    </v-row>
  </div>
</template>

<script lang="ts">
import { debounce } from "lodash";
import moment from "moment";
import { Vue, Component, Prop } from "nuxt-property-decorator";

@Component
export default class CardForecast extends Vue {
  @Prop({ type: String, required: true }) cityName!: string;
  items: any = [];

  getForecastDebounce = debounce(this.getForecast, 500);

  fetch() {
    this.getForecastDebounce();
  }

  get mainInfo() {
    return this.items.main;
  }

  getDay(index: number) {
    return moment()
      .add(index + 1, "days")
      .format("dddd");
  }

  async getForecast() {
    try {
      const query = { city: this.cityName };
      const { data } = await this.$api.citysun.forecast.getAll(query);

      this.items = data;
    } catch (error) {
      this.$helper.handleRequestError(error);
    }
  }
}
</script>

<style lang="scss" scoped></style>
