<template>
  <v-container class="components__carouselCity" fluid>
    <p class="white--text text-h5">{{ $t("label.topCities") }}</p>
    <template v-if="items.length > 0 && loading == false">
      <VueSlickCarousel v-bind="carouselOptions">
        <template v-slot:default>
          <div v-for="(item, index) in items" :key="index">
            <item-city :item="item" />
          </div>
        </template>
      </VueSlickCarousel>
    </template>

    <template v-else>
      <v-card class="center-all white--text" color="secondary" height="400">
        <div class="center-all full-size">
          <v-progress-circular v-if="true" indeterminate color="primary" />
          <p class="mb-0" v-else>{{ $t("label.noRecordFound") }}</p>
        </div>
      </v-card>
    </template>
  </v-container>
</template>

<script lang="ts">
import { Vue, Component, mixins, Watch } from "nuxt-property-decorator";
import ItemCity from "./ItemCity.vue";
import DataTable from "~/mixins/DataTable";
import { debounce } from "lodash";
import VueSlickCarousel from "vue-slick-carousel";
import "vue-slick-carousel/dist/vue-slick-carousel.css";
import "vue-slick-carousel/dist/vue-slick-carousel-theme.css";

@Component({
  components: {
    ItemCity,
    VueSlickCarousel
  }
})
export default class CarouselCity extends mixins(DataTable) {
  loading: boolean = true;
  getUserLikesDebounce = debounce(this.getUserLikes, 250);

  mounted() {
    if (this.$auth.loggedIn) this.getUserLikes();
  }

  get carouselOptions() {
    let slideNumber;
    if (this.$vuetify.breakpoint.xs) slideNumber = 1;
    else if (this.$vuetify.breakpoint.sm) slideNumber = 2;
    else slideNumber = 3;

    return {
      autoplay: true,
      autoplaySpeed: 5000,
      dots: this.$vuetify.breakpoint.smAndUp,
      arrows: false,
      centerPadding: this.$vuetify.breakpoint.xs ? "10px" : "30",
      centerMode: true,
      swipeToSlide: true,
      focusOnSelect: true,
      pauseOnHover: true,
      slidesToShow: slideNumber,
      slidesToScroll: slideNumber,
      speed: 1000
    };
  }

  get cities() {
    return this.$store.state.cities.cities as Array<any>;
  }

  @Watch("cities")
  async onCitiesChange(val: Array<any>) {
    if (val.length == 0) return;
    this.loading = true;
    this.resetItems();

    await Promise.all(
      (val as Array<any>).map(async (city: any) => {
        const newCity = await this.getCurrentWeather(city);
        this.pushItems([newCity]);
      })
    );

    this.loading = false;
  }

  async getCurrentWeather(city: any) {
    try {
      const query = { city_name: city.city };
      const { data } = await this.$api.citysun.weather.get(query);
      city = { ...city, ...data };

      return city;
    } catch (error) {
      this.$helper.handleRequestError(error);
    }
  }

  async getUserLikes() {
    try {
      const {
        data: { liked_cities }
      } = await this.$api.citysun.userLikes.getAll();

      this.$store.commit("userLikes/setLikedCities", liked_cities);
    } catch (error) {
      this.createUserLikeRecord();
      return;
    }
  }

  async createUserLikeRecord() {
    try {
      await this.$api.citysun.userLikes.create();
    } catch (error) {
      this.$helper.handleRequestError(error);
    }
  }
}
</script>

<style lang="scss" scoped>
.components__carouselCity {
  height: 500px;
  @media (max-width: 960px) {
    width: 90vw;
    margin: 0 auto;
  }
  @media (min-width: 961px) {
    width: 500px;
    margin: 0 auto;
  }
  @media (min-width: 1265px) {
    width: 700px;
    margin: 0 auto;
  }
  //Large and xlarge
  @media (min-width: 1905px) {
    width: 1200px;
    margin: 0 auto;
  }
  overflow-x: auto;

  .carousel-dots {
    color: white;
    background: white;
  }
}
</style>
