<template>
  <div class="components__generalClock">
    <p class="text-caption mb-0">{{ date }}</p>
    <div class="d-flex align-end mb-3">
      <p class="text-h3 mr-1 mb-0">{{ time }}</p>
      <p class="text-h6 mb-0">{{ session }}</p>
    </div>

    <hr class="mt-2 mb-5" />
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "nuxt-property-decorator";
import moment from "moment";

@Component
export default class GeneralClock extends Vue {
  time: string = "";
  session: string = "";
  date: string = moment().format("dddd, MMMM Do YYYY");

  mounted() {
    this.showTime();
  }

  showTime() {
    let date = new Date();
    let h: any = date.getHours(); // 0 - 23
    let m: any = date.getMinutes(); // 0 - 59
    let s: any = date.getSeconds(); // 0 - 59
    let session = "AM";

    if (h == 0) {
      h = 12;
    }

    if (h > 12) {
      h = h - 12;
      session = "PM";
    }

    h = h < 10 ? "0" + h : h;
    m = m < 10 ? "0" + m : m;
    s = s < 10 ? "0" + s : s;

    this.time = h + ":" + m + ":" + s + " ";
    this.session = session;

    setTimeout(this.showTime, 1000);
  }
}
</script>
