<template>
  <v-card
    class="components__itemCity secondary info--text pa-3"
    width="270"
    height="350"
  >
    <button-like-city :cityId="item._id" />

    <div class="text-center">
      <p class="text-h6 mb-0">{{ item.city }}</p>
      <p class="text-caption">{{ item.admin_name }}, {{ item.country }}</p>
      <p class="text-h2 font-weight-black">
        {{ mainWeather && mainWeather.temp }}&deg;
      </p>
    </div>

    <hr class="mt-10 mb-5" />

    <div class="d-flex">
      <div class="d-flex flex-column mr-4">
        <span class="text-caption">{{ $t("label.low") }}</span>
        <span class="text-h5">
          {{ mainWeather && mainWeather.temp_min }}&deg;
        </span>
      </div>
      <div class="d-flex flex-column mr-4">
        <span class="text-caption">{{ $t("label.high") }}</span>
        <span class="text-h5">
          {{ mainWeather && mainWeather.temp_max }}&deg;
        </span>
      </div>
      <div class="d-flex flex-column mr-4">
        <span class="text-caption">{{ $t("label.wind") }}</span>
        <span class="text-h5">
          {{ wind && wind.speed }}
          <span class="text-caption">km/h</span>
        </span>
      </div>
    </div>

    <div class="d-flex flex-column">
      <span class="text-caption">{{ $t("label.condition") }}</span>
      <span class="text-h5 text-capitalize">
        {{ weather && weather[0].description }}
      </span>
    </div>
  </v-card>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "nuxt-property-decorator";
import ButtonLikeCity from "./ButtonLikeCity.vue";

@Component({
  components: {
    ButtonLikeCity
  }
})
export default class ItemCity extends Vue {
  @Prop({ type: Object, required: true }) item!: Object;

  loading: boolean = false;

  get mainWeather() {
    return (this.item as any).main;
  }
  get wind() {
    return (this.item as any).wind;
  }
  get weather() {
    return (this.item as any).weather;
  }
}
</script>

<style lang="scss" scoped></style>
