<template>
  <v-menu
    class="component__menuLogin"
    v-model="menu"
    :close-on-content-click="false"
  >
    <template v-slot:activator="{ on }">
      <v-btn v-on="on" small outlined color="primary">Login</v-btn>
    </template>
    <template v-slot:default>
      <v-card class="pa-3">
        <v-text-field
          v-model="formModel.email"
          label="Email"
          outlined
        ></v-text-field>
        <v-text-field
          v-model="formModel.password"
          type="password"
          label="Password"
          outlined
        ></v-text-field>
        <v-card-actions>
          <v-btn @click="onLogin" small outlined color="primary">Login</v-btn>
        </v-card-actions>
      </v-card>
    </template>
  </v-menu>
</template>

<script lang="ts">
import { Vue, Component } from "nuxt-property-decorator";

@Component
export default class MenuLogin extends Vue {
  menu: boolean = false;
  formModel: Object = {
    email: "ericClapton@gmail.com",
    password: "test1234"
  };

  async onLogin() {
    try {
      const res = await this.$auth.loginWith("local", { data: this.formModel });
      this.$helper.handleRequestSuccess(res);
    } catch (error) {
      this.$helper.handleRequestError(error);
    }
  }
}
</script>
