<template>
  <div class="components__searchBar center-all my-5">
    <v-autocomplete
      solo
      v-model="selected"
      :search-input.sync="search"
      :items="items"
      item-text="city"
      :loading="loading"
      item-value="_id"
      return-object
      hide-no-data
      rounded
      dense
      color="white"
      class="mr-3"
      hide-details="auto"
      :placeholder="$t('label.searchYourCity')"
    />
    <v-dialog
      transition="dialog-bottom-transition"
      v-model="dialog"
      max-width="600"
    >
      <template v-slot:activator="{ on }">
        <v-btn v-on="on" depressed fab small color="primary">
          <v-icon>mdi-plus</v-icon>
        </v-btn>
      </template>
      <template v-slot:default="dialog">
        <v-card>
          <v-btn
            class="top:.5 right:.5"
            color="secondary"
            absolute
            icon
            @click="dialog.value = false"
          >
            <v-icon>mdi-close</v-icon>
          </v-btn>

          <v-card-title class="center-all">Add a New City</v-card-title>
          <v-card-text>
            <v-text-field
              dense
              outlined
              label="City"
              v-model="formModel.city"
            ></v-text-field>
            <v-text-field
              dense
              outlined
              label="State"
              v-model="formModel.admin_name"
            ></v-text-field>
            <v-text-field
              dense
              outlined
              label="Country"
              v-model="formModel.country"
            ></v-text-field>
          </v-card-text>
          <v-card-actions class="justify-end">
            <v-btn color="primary" @click="addCity">
              {{ $t("label.addCity") }}
            </v-btn>
          </v-card-actions>
        </v-card>
      </template>
    </v-dialog>
  </div>
</template>

<script lang="ts">
import { debounce } from "lodash";
import { Vue, Component, Watch } from "nuxt-property-decorator";

@Component
export default class SearchBar extends Vue {
  dialog: boolean = false;
  selected: any = null;
  search: string = "";
  findCityDebounce = debounce(this.findCities, 500);
  items: Array<any> = [];
  loading: boolean = false;

  formModel: any = {
    city: null,
    admin_name: null,
    country: null
  };

  get cities() {
    return this.$store.state.cities.cities as Array<any>;
  }

  @Watch("search", { immediate: true })
  onSearchChange() {
    this.findCityDebounce();
  }

  toggleCityLoading(value: boolean) {
    this.$store.commit("cities/setCityLoading", value);
  }

  async findCities() {
    try {
      this.toggleCityLoading(true);
      const {
        data: { records, pagination }
      } = await this.$api.citysun.city.getAll({ city: this.search, page: 1 });

      this.items = records;
      this.$store.commit("cities/setCities", records);
      this.$store.commit("cities/setPagination", pagination);
    } catch (error) {
      this.$helper.handleRequestError(error);
    } finally {
      this.loading = false;
    }
  }

  async addCity() {
    try {
      const res = await this.$api.citysun.city.create(this.formModel);
      this.$helper.handleRequestSuccess(res);
      this.$store.commit("cities/addCity", res.data);
      this.dialog = false;
      this.formModel = {
        city: null,
        admin_name: null,
        country: null
      };
    } catch (error) {
      this.$toasted.error(this.$t("message.plsFillInAllFields") as string);
    }
  }

  async getCurrentWeather(city: any) {
    try {
      const query = { city_name: city.city };
      const { data } = await this.$api.citysun.weather.get(query);
      city = { ...city, ...data };

      return city;
    } catch (error) {
      this.$helper.handleRequestError(error);
    }
  }
}
</script>

<style lang="scss" scoped>
.components__searchBar {
  max-width: 500px !important;
}
</style>
