<template>
  <v-card
    tile
    flat
    color="transparent"
    class="components__tabCurrentLocation white--text pa-4"
  >
    <general-clock />

    <p class="mb-0">{{ currentLocation.city }}</p>
    <div>
      <p class="text-h3">{{ mainWeather && mainWeather.temp }}&deg;</p>
      <div class="d-flex mb-5 primary--text">
        <div class="d-flex flex-column mr-4">
          <span class="text-caption">{{ $t("label.low") }}</span>
          <span class="text-h5">
            {{ mainWeather && mainWeather.temp_min }}&deg;
          </span>
        </div>
        <div class="d-flex flex-column mr-4">
          <span class="text-caption">{{ $t("label.high") }}</span>
          <span class="text-h5">
            {{ mainWeather && mainWeather.temp_max }}&deg;
          </span>
        </div>
        <div class="d-flex flex-column">
          <span class="text-caption">{{ $t("label.condition") }}</span>
          <span class="text-h5 text-capitalize">
            {{ weather && weather[0].description }}
          </span>
        </div>
      </div>
    </div>
    <card-forecast :cityName="currentLocation.city" />

    <hr class="mt-2 mb-5" />

    <p class="mb-0">{{ $t("label.wind") }}</p>
    <div class="d-flex mb-5">
      <div class="d-flex flex-column mr-4">
        <span class="text-caption">{{ $t("label.speed") }}</span>
        <span class="text-h5">
          {{ wind && wind.speed }}
          <span class="text-caption">km/h</span></span
        >
      </div>
      <div class="d-flex flex-column">
        <span class="text-caption">{{ $t("label.degree") }}</span>
        <span class="text-h5">{{ wind && wind.deg }}&deg;</span>
      </div>
    </div>

    <p class="mb-0 primary--text">{{ $t("label.coordinates") }}</p>
    <div class="d-flex mb-5 primary--text">
      <div class="d-flex flex-column mr-4">
        <span class="text-caption">{{ $t("label.latitude") }}</span>
        <span class="text-h5">{{ currentLocation.latitude }}</span>
      </div>
      <div class="d-flex flex-column">
        <span class="text-caption">{{ $t("label.latitude") }}</span>
        <span class="text-h5">{{ currentLocation.longitude }}</span>
      </div>
    </div>
  </v-card>
</template>

<script lang="ts">
import { Vue, Component } from "nuxt-property-decorator";
import GeneralClock from "./GeneralClock.vue";
import CurrentLocation from "~/types/CurrentLocation";
import CardForecast from "./CardForecast.vue";

@Component({
  components: {
    CardForecast,
    GeneralClock
  }
})
export default class TabCurrentLocation extends Vue {
  currentLocation: CurrentLocation = {
    city: "",
    country: "",
    iso2: "",
    latitude: "",
    longitude: ""
  };
  currentWeather: Object = {};

  get mainWeather() {
    return (this.currentWeather as any).main;
  }
  get wind() {
    return (this.currentWeather as any).wind;
  }
  get weather() {
    return (this.currentWeather as any).weather;
  }

  mounted() {
    this.init();
  }

  async init() {
    await this.getCurrentLocation();
    this.getCurrentWeather();
  }

  async getCurrentLocation() {
    try {
      const { data } = await this.$api.citysun.currentLocation.get();
      this.currentLocation = data;
    } catch (error) {
      this.$helper.handleRequestError(error);
    }
  }

  async getCurrentWeather() {
    try {
      const query = { city_name: this.currentLocation.city };
      const { data } = await this.$api.citysun.weather.get(query);

      this.currentWeather = data;
    } catch (error) {
      this.$helper.handleRequestError(error);
    }
  }
}
</script>
