<template>
  <v-pagination
    class="components__cityPagination"
    :value="pagination.current_page"
    :length="pagination.last_page"
    total-visible="3"
    @input="findCities($event)"
    @next="findCities(pagination.current_page + 1)"
    @previous="findCities(pagination.current_page - 1)"
  ></v-pagination>
</template>

<script lang="ts">
import { Vue, Component } from "nuxt-property-decorator";

@Component
export default class CityPagination extends Vue {
  page: number = 1;
  get pagination() {
    return this.$store.state.cities.pagination;
  }
  get cities() {
    return this.$store.state.cities.cities as Array<any>;
  }

  async findCities(page: number = 1) {
    try {
      const {
        data: { records, pagination }
      } = await this.$api.citysun.city.getAll({ page });

      this.$store.commit("cities/setCities", records);
      this.$store.commit("cities/setPagination", pagination);
    } catch (error) {
      this.$helper.handleRequestError(error);
    }
  }
}
</script>

<style></style>
