<template>
  <div class="components__homeContainer center-all flex-column">
    <search-bar />
    <v-row justify="center" align="center" class="flex-row-reverse flex-md-row">
      <v-col cols="12" md="8">
        <carousel-city class="overflow-scroll-no-bar" />
        <city-pagination />
      </v-col>
      <v-col cols="12" md="4">
        <tab-current-location />
      </v-col>
    </v-row>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "nuxt-property-decorator";
import CarouselCity from "~/components/Widgets/CarouselCity.vue";
import SearchBar from "~/components/Widgets/SearchBar.vue";
import TabCurrentLocation from "~/components/Widgets/TabCurrentLocation.vue";
import CityPagination from "./CityPagination.vue";

@Component({
  components: {
    TabCurrentLocation,
    CarouselCity,
    SearchBar,
    CityPagination
  }
})
export default class HomeContainer extends Vue {
  get cities() {
    return this.$store.state.cities.cities as Array<any>;
  }
  async login() {
    try {
      await this.$auth.loginWith("auth0");
    } catch (error) {
      this.$helper.handleRequestError(error);
    }
  }

  async logout() {
    try {
      await this.$auth.logout();
    } catch (error) {
      this.$helper.handleRequestError(error);
    }
  }
}
</script>

<style lang="scss" scoped>
.components__homeContainer {
  .city-input {
    width: 300px !important;
  }
}
</style>
