<template>
  <v-footer class="components__layoutFooter transparent" absolute>
    <span class="full-width text-center white--text text-caption">
      &copy; {{ new Date().getFullYear() }} City Sun - Affiq Zaini
    </span>
  </v-footer>
</template>

<script lang="ts">
import { Vue, Component } from "nuxt-property-decorator";

@Component
export default class LayoutFooter extends Vue {}
</script>
