<template>
  <div class="components__layoutMenu navbar">
    <v-app-bar flat class="transparent">
      <img src="favicon.svg" width="50" height="50" />
      <v-toolbar-title class="white--text" v-text="title" />
      <v-spacer />
      <component :is="accountMenu" />
    </v-app-bar>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "nuxt-property-decorator";
import LoggedInMenu from "./LoggedInMenu.vue";
import LoggedOutMenu from "./LoggedOutMenu.vue";

@Component({
  components: {
    LoggedInMenu,
    LoggedOutMenu
  }
})
export default class LayoutMenu extends Vue {
  title: String = "City Sun";

  get accountMenu() {
    if (this.$auth.loggedIn) return "logged-in-menu";
    else return "logged-out-menu";
  }
}
</script>

<style lang="scss" scoped>
.components__layoutMenu {
  @media (max-width: 960px) {
    width: 100%;
    margin: 0 auto;
  }
  @media (min-width: 1265px) {
    width: 1000px;
    margin: 0 auto;
  }
  //Large and xlarge
  @media (min-width: 1905px) {
    width: 1800px;
    margin: 0 auto;
  }
}
</style>
