<template>
  <v-menu class="components__loggedInMenu" close-on-click offset-y>
    <template v-slot:activator="{ on }">
      <v-avatar
        v-on="on"
        :size="$vuetify.breakpoint.xs ? 36 : 46"
        class="cursor-pointer"
        color="primary"
      >
        <template v-slot:default>
          <v-img
            v-if="user.picture"
            :src="user.picture"
            contain
            aspect-ratio="1"
          />
          <span v-else>OO</span>
        </template>
      </v-avatar>
    </template>

    <v-card flat class="center-all pa-3" width="200">
      <div class="text-center mb-3">
        <p class="text-subtitle-1">{{ user.nickname }}</p>
        <p class="text-caption">{{ user.email }}</p>

        <v-tooltip left offset-overflow>
          <template v-slot:activator="{ on }">
            <v-chip
              x-small
              color="error lighten-1"
              v-on="on"
              v-if="!user.email_verified"
            >
              {{ $t("label.notVerified") }}
            </v-chip>
          </template>
          <span>{{ $t("message.checkEmailVerification") }}</span>
        </v-tooltip>
      </div>

      <v-btn outlined small @click="onLogout" class="d-flex mx-auto">
        {{ $t("label.logout") }}
      </v-btn>
    </v-card>
  </v-menu>
</template>

<script lang="ts">
import { Vue, Component } from "nuxt-property-decorator";

@Component
export default class LoggedInMenu extends Vue {
  get user() {
    return this.$auth.user;
  }

  async onLogout() {
    try {
      // await this.$auth.setUserToken("");
      // this.$router.app.$forceUpdate();
      await this.$auth.logout();
    } catch (error) {
      this.$helper.handleRequestError(error);
    }
  }
}
</script>
