<template>
  <div class="components__logedOutMenu">
    <v-menu close-on-click offset-y v-if="$vuetify.breakpoint.xs">
      <template v-slot:activator="{ on }">
        <v-btn icon v-on="on">
          <v-icon>mdi-account</v-icon>
        </v-btn>
      </template>
      <v-card flat class="center-all pa-3" width="150">
        <v-btn text small block @click="login">{{ $t("label.login") }}</v-btn>
        <v-btn text small block @click="login">{{ $t("label.signUp") }}</v-btn>
      </v-card>
    </v-menu>

    <div v-else>
      <menu-login />
      <v-btn outlined small @click="login" color="primary">
        {{ $t("label.login") }}
      </v-btn>
      <v-btn outlined small @click="login" color="info darken-2">
        {{ $t("label.signUp") }}
      </v-btn>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "nuxt-property-decorator";
import MenuLogin from "../Widgets/MenuLogin.vue";

@Component({
  components: {
    MenuLogin
  }
})
export default class LoggedOutMenu extends Vue {
  async login() {
    try {
      await this.$auth.loginWith("local");
    } catch (error) {
      this.$helper.handleRequestError(error);
    }
  }
}
</script>
