@font-face {
  font-family: "Poppins";
  font-weight: normal;
  src: url("/fonts/Poppins-Light.ttf");
}
@font-face {
  font-family: "PoppinsBold";
  font-weight: bold;
  src: url("/fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: "PoppinsBlack";
  font-weight: bold;
  src: url("/fonts/Poppins-ExtraBold.ttf");
}
@font-face {
  font-family: "PoppinsLighter";
  font-weight: lighter;
  src: url("/fonts/Poppins-ExtraLight.ttf");
}
