@import "./font.scss";

$max-body-width: 1200px;

body {
  scroll-behavior: smooth;
}

.appbar-content {
  // max-width: $max-body-width;
  display: flex;
}

.components__toasted {
  font-family: "Poppins", sans-serif;
}

.bg--gradient {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.overflow-scroll-no-bar {
  white-space: nowrap;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.minimal-scroller {
  &::-webkit-scrollbar {
    height: 5px;
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 25px;
  }

  &::-webkit-scrollbar-thumb {
    // background: rgba($theme-secondary, 0.5);
    border-radius: 25px;
  }
}

.position {
  &-absolute {
    position: absolute !important;
  }

  &-relative {
    position: relative !important;
  }
}

.full {
  &-width {
    width: 100%;
  }

  &-height {
    height: 100%;
  }

  &-size {
    height: 100%;
    width: 100%;
  }
}

.center {
  &-all {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-all-inline {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  &-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-evenly {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  &-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.cursor-pointer {
  cursor: pointer;
}
