<template>
  <v-app>
    <layout-menu class="navbar" />
    <v-main>
      <v-container class="app_container">
        <nuxt class="app_body" />
      </v-container>
      <layout-footer />
    </v-main>
  </v-app>
</template>

<script lang="ts">
import { Vue, Component } from "nuxt-property-decorator";
import LayoutFooter from "~/components/Layout/LayoutFooter.vue";
import LayoutMenu from "~/components/Layout/LayoutMenu.vue";

@Component({
  components: {
    LayoutMenu,
    LayoutFooter
  }
})
export default class defaultLayout extends Vue {}
</script>

<style lang="scss" scoped>
.app_body {
  min-height: 80vh;
}
.app_container {
  @media (max-width: 600px) {
    max-width: 100%;
    margin: 0 auto;
  }
  //small
  @media (max-width: 960px) {
    max-width: 100%;
    margin: 0 auto;
  }
  //medium
  @media (max-width: 1264px) {
    max-width: 1000px;
    margin: 0 auto;
  }
  //Large and xlarge
  @media (max-width: 1904px) {
    max-width: 1800px;
    margin: 0 auto;
  }

  @media (min-width: 1905px) {
    max-width: 1800px;
    margin: 0 auto;
  }
}
</style>
