<template>
  <div class="pages__index center-all">
    <home-container />
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "nuxt-property-decorator";
import HomeContainer from "~/components/Pages/Index/HomeContainer.vue";

@Component({
  components: {
    HomeContainer
  },
  head() {
    return {
      title: this.$t("pageTitle.home") as string
    };
  }
})
export default class PageIndex extends Vue {}
</script>
